.card-pf {
    box-shadow: 0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16), 0 0 0.375rem 0 rgba(3, 3, 3, 0.08);
    border-color: #06c;
}

.fa {
    font-size: 18px;
}

.pf-c-alert {
    display: -ms-flexbox;
    border-top-style: solid;
    border-top-color: #c9190b;
    background-color: #faeae8;
    padding: 16px 16px 16px 16px;
}
.pf-c-alert__title {
    font-size: 12px;
    font-weight: 700;
    color: #a30000;
}

.pf-c-alert__icon {
    color: #c9190b;
}

.required {
    color: #a30000;
}

.pf-c-button.pf-m-primary {
    color: #fff;
    background-color: #06c;
}

:not(.pf-m-disabled).pf-c-form__label:hover {
    cursor: default;
}

.pf-c-form__label-text {
    font-weight: 400;
}

.pf-c-form__label {
    line-height: 20px;
}

.pf-c-form-control {
    font-size: 16px;
    width: 100%;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    border-top-width: 1px;
    border-left-width: 1px;
}

.pf-c-form-control:focus {
    border-bottom-color: #8a8d90;
    border-right-color: #8a8d90;
    padding-bottom: 0.375rem - 1px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
}

:not(textarea).pf-c-form-control {
    height: 36px;
}

.pf-c-form-control[aria-invalid=true] {
    padding-right: 2.5rem;
    border-bottom-color: #c9190b;
    padding-bottom: 4px;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
    background-size: 16px 16px;
    border-bottom-width: 2px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c9190b' d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}